body {
    background-color:rgb(198, 203, 255) ;
}
.бу {
    width: 100%;
    background-color: blue;
}
.бубу {
    width: 400px;
    height: 200px;
}
.син {
background-color: rgb(147, 147, 147);
}
.кра {
background-color: red;
}
.зел {
background-color: green;
}
input[name="text"], input[name="submit"]{
    height: 50px;
}
p[data-text="red"]{
    color: red;
    background-color: rgb(176, 243, 176);
}
p[data-text="green"]{
    color: green;
    background-color: rgb(255, 169, 169);
}
div[data-blok]{
    width: 300px;
    height: 300px;
}
.blok1 {
    background-color: blue;
padding-top: 50px;
padding-bottom: 50px;
padding-left: 50px;
padding-right: 50px;
}
.blok2 {
    background-color: green;
}
.blok3 {
    background-color: blue;
padding: 50px 30px 10px 70px;
}
.blok4 {
    background-color: green;
}
.blok5 {
    background-color: blue;
    padding: 50px;
margin: 5% 45%;
}
.blok6 {
    background-color: green;
}
.blok7 {
    background-color: blue;
    padding: 50px;
margin: 5% 0%;
}
.blok8 {
    background-color: green;
}
.blok9 {
    background-color: blue;
    padding: 50px;
margin: 5% 45%;
}
.blok10 {
    background-color: green;
}
.blok11 {
    background-color: blue;
    padding: 50px;
margin: 5% 70%;
}
.blok12 {
    background-color: green;
}
.blok13 {
    background-color: blue;
    padding: 50px;
margin: 5% 45%;
}
.blok14 {
    background-color: green;
}
.blok15 {
    background-color:red;
    padding: 50px 180px 50px 50px;
}
div[data-blok1]{
    width: 70px;
    height: 70px;
}
img[data-нож]{
    height: 300px;
}
a {
    display: block;
}
.block {
    height: 300px;
    width: 300px;
    background-color: red;
    display: inline-block;
}
.d-flex {
    display: flex;
justify-content:center;
}
.l-flex {
    display: flex;
    justify-content: right;
    align-items:end;
}
.r-flex {
    display: flex;
    justify-content: space-between;
}
img[data-наж] {
    height: 100px;
}
.k-flex{
    display: flex;
    justify-content: space-around; 
    align-items: center;
}
